@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.products__section .section--header {
  .swiper--buttons {
    @include media(600) {
      display: none;
    }
  }
}

.products__swiper--container {
  position: relative;
  width: 100vw;
  overflow-x: hidden;

  @include media(960) {
    padding-bottom: 40px;
  }
}

.products__swiper {
  @include d-flex(row, unset, unset, 12px);
  padding-left: 48px;
  padding-bottom: 30px;

  @include media(960) {
    padding-left: 24px;
  }

  &--scrollbar__container {
    @include d-flex(row, flex-end, unset);
    width: 100%;
    height: 5px;

    @include media(960) {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:hover {
      .products__swiper--scrollbar {
        height: 3px;
      }
    }
  }

  &--scrollbar {
    width: calc(100vw / 4) !important;
    height: 2px;
    background-color: $color-black--regular;

    &.active {
      opacity: 1;
    }

    &.disactive {
      animation: disappear .5s ease 1s forwards;
    }
  }
}