.admin__products {
  background-color: $color-white--regular;

  .table {
    @include media(1150) {
      .description,
      .category {
        display: none;
      }

      .name {
        width: 50% !important;
      }
    }
  }

  &--form {
    @include d-flex(row, unset, unset, 50px, wrap);
    position: relative;
    max-width: 1075px;

    @include media(1075) {
      max-width: 700px;

      .sm-full {
        width: 100%;

        .input,
        .select,
        .textarea,
        .upload {
          width: 100%;
        }
      }
    }

    @include media(700) {
      max-width: 325px;
      gap: 20px;

      .upload {
        width: 100%;
      }
    }
  }
}