.checkbox {
  @include d-flex(row, center, unset, 10px);
  position: relative;

  &__wrapper {
    position: relative;
    width: 20px;
    height: 20px;
  }

  &__label {
    @include font(14px, 120%, 400);
    color: $color-grey--regular;
    user-select: none;
    cursor: pointer;
  }

  &__input {
    @include d-flex-center;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid $color-white--dark;
    cursor: pointer;

    &:checked::after {
      content: url('/check.svg');
      transform: translateY(-2px);
    }
  }
}