.category__card--md {
  position: relative;
  width: 596px;
  height: 745px;

  &--image {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &--content {
    @include d-flex(row, unset, unset, 10px);
    position: absolute;
    bottom: 50px;
    left: 45px;
  }
}