.home__page {
  position: relative;

  .new__arrivals {
    @include d-flex-center(column);
    position: relative;
    width: 100%;
    height: 58px;
    background-color: $color-disabled;
    border-bottom: 1px solid $color-white--smoke;

    &--title {
      @include font(16px, 150%, 400);
      color: $color-black--regular;
    }

    &--link {
      @include font(12px, 150%, 600);
      color: $color-black--regular;
      text-decoration: underline;
    }
  }

  .nike-tech {
    @include d-flex(column, center, space-between);
    height: 190px;
    margin-block: 48px;
    padding-inline: 10px;

    &--title {
      @include font(72px, 90%, 900);
      color: $color-black--regular;
      text-transform: uppercase;
      letter-spacing: -4px;
    }

    &--description {
      @include font(20px, 120%, 400);
      color: $color-black--regular;
    }

    @include media(834) {
      height: 150px;

      &--title {
        @include font(48px, 110%, 900);
        letter-spacing: 0;
      }

      &--description {
        text-align: center;
        font-size: 16px;
      }
    }
  }

  .nike-video {
    width: 100vw;
    max-height: 995px;
    min-height: 760px;
    object-fit: cover;
  }

  .categories__section {
    padding-top: 16px;
  }

  .products__section {
    padding-top: 16px;
  }

  .categories__section--md {
    padding-top: 32px;
  }

  .shop-by-sport__section {
    padding-top: 96px;
  }

  .nike-membership__section {
    padding-top: 84px;
  }

  .nike-app {
    margin-top: 48px;

    .ads__card {
      padding-inline: 48px;
    }
  }

  @include media(960) {
    .categories__section {
      padding-top: 8px;
    }
  
    .products__section {
      padding-top: 8px;
    }
  
    .categories__section--md {
      padding-top: 16px;
    }
  
    .shop-by-sport__section {
      padding-top: 24px;
    }
  
    .nike-membership__section {
      padding-top: 24px;
    }

    .nike-app {
      margin-top: 24px;

      .ads__card {
        padding-inline: 24px;
      }
    }
  }
}