/* Colors */
$color-white--regular: #fff;
$color-white--smoke: #e5e5e5;
$color-white--dark: #ccc;
$color-black--light: #434343;
$color-black--regular: #111;
$color-grey--regular: #757575;
$color-grey--light: #b2b2b2;
$color-green--regular: #00ab07;
$color-yellow: #bcdb00;
$color-red: #de0000;
$color-disabled: #f5f5f5;