.bg__blur {
  .modal {
    @include d-flex-center;
    @include absolute-center;
    max-width: 1650px;
    width: 100%;
    min-height: 660px;
    border-radius: 4px;
    background-color: $color-white--regular;
  
    &__buttons--wrapper {
      @include d-flex(row, center, unset, 10px);
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &__button--close {
      background-color: $color-black--regular;

      svg path {
        stroke: $color-white--regular;
      }

      &:hover {
        background-color: $color-black--light;
      } 
    }

    @include media(1650) {
      width: 100vw;
      height: 100vh;
    }
  }
}