.section {
  @include d-flex(column, unset, unset, 12px);

  &--header {
    @include d-flex(row, center, space-between, 12px);
    padding-inline: 48px;

    @include media(960) {
      padding-inline: 24px;
    }
  }

  &--title {
    @include font(26px, 120%, 500);
    color: $color-black--regular;
  }

  .swiper--buttons {
    @include d-flex(row, center, unset, 12px);
  }
}